HTML {
    font-size: 2vh
}

input[type=file] {
    font-size: 2vh;
}

#mapview {
    position: absolute;
    overflow: hidden;
    width: 70%;
    height: 80%;
    left: 0;
    border-radius: 16px;
    background-color: aqua;
}

#litterList {
    position: absolute;
    height: 80%;
    width: 15%;
    overflow-y: scroll;
    left: 70%;
    border-radius: 16px;
    background-color: rgba(20,170,255,0.5)
}

.selectedMarker {
    animation: selected 2s infinite;
    z-index: 100;
}

@keyframes selected {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
}